@import 'tailwindcss';

:root {
  --background: #06080c;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: Arial;
  --font-tactic: var(--font-tactic);
}